<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tp2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Partida.ConfigurarPartidaActivity"></activity>

        <service
            android:name=".Partida.Timer"
            android:exported="false"></service>
        <service android:name=".Inicio.ServicioPostUsuario" />
        <service android:name=".Menu.ServicioPostEvento" />

        <activity android:name=".Menu.ResultadoActivity" />
        <activity android:name=".Partida.RegistroSensor" />
        <activity android:name=".Inicio.RegistrarActivity" />
        <activity android:name=".Menu.MenuActivity" />
        <activity android:name=".Inicio.IniciarSesionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Inicio.RegistrarActivity$ReceptorRegistrar" />
        <receiver android:name=".Inicio.IniciarSesionActivity$ReceptorIniciarSesion" />
        <receiver android:name=".Menu.MenuActivity$ReceptorEvento" />
        <receiver android:name=".Partida.RegistroSensor$ReceptorTimer" />
    </application>

</manifest>